#register-form .register-form-title{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

#register-form .register-form .wrap-input{
    position: relative;
    margin-bottom: 0;
}

#register-form .register-form .form-control{
    font-size: 15px;
    color: #666666;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

div.register-btn-group .form-group{
    margin-top: 50px;
}

.register-btn-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.register-btn-group .btn.register-btn{
    font-size: 15px;
    color: white;
    text-transform: uppercase;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    background: #fa970c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    border-color: #fa970c;
}

.register-btn-group .btn.register-btn:hover{
    background-color: #ffbb5c;
    border-color: #fa970c;
}

.register-btn-group .btn.register-btn:focus{
    background-color: #ffbb5c;
    border-color: #fa970c;
}


.register-btn-group .btn.cancel-btn{
    font-size: 15px;
    line-height: 1.5;
    color: #fa970c;
    width: 25%;
    height: 50px;
    border-radius: 25px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    transition: all 0.4s;
    border-color: none;
}

.error-message {
    color: #FF6565;
    margin-left: 25px;
    height: 1em;
    position: absolute;
    font-size: .8em;
}

#input .error .form-control{
    border: 2px solid #FF6565;
    color: #666666;
}
