.quiz-page{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    vertical-align: middle;
}

.quiz-page .card{
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form-group.form-check-label{
    display: block;
    text-align: left;
    padding: 15px;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-group.form-check-label+.form-check-label{
    margin-left: 0px;
}

.form-group
.form-check-label input{
    margin-right: 10px;
}

.verticaly-center{
    margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}