.card.course-card{
    font-family: "Roboto";
    font-size: 15px;
    text-decoration: none;
    color: #004C70;
}

.card.course-card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    text-decoration: none;
    color: #004C70;
}

.cors-text span:first-child{
    max-height: 150px;
    overflow: hidden;
    display: inline-block;
    margin-top: 20px;
}

div.card{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    margin: 10px;
}

.course-card img.card-img-top {
    border-radius: 10px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}
