.editPas-btn-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.editPas-btn-group .btn{
    font-size: 15px;
    color: white;
    width: 48%;
    height: 40px;
    border-radius: 25px;
    background: #fa970c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-color: #fa970c;
}

.editPas-button-group .btn{
    color: #fa970c;
}

.editPas-btn-group .btn:hover{
    background-color: #ffbb5c;
    border-color: #fa970c;
}

.editPas-btn-group .btn:focus{
    background-color: #ffbb5c;
    border-color: #fa970c;
}